<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Responsive Website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <nav class="navbar height-class-resp">
        <ul class="nav-list visibility-class-resp">
            <div class="logo"><img src="laptop.jpg" alt="Some Issue"></div>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/weather">Services</a></li>
            <li><a href="/secret">Secret</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
        <div class="rightNav visibility-class-resp">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

    <section class="background firstSection " id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">Business</p>
                <p class="text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, perferendis? Non eius
                    ex maiores, recusandae voluptatem, deserunt assumenda et porro provident voluptate animi dolorum,
                    distinctio dolorem voluptatibus. Temporibus dolor velit sapiente modi accusantium, dolorem tempore
                    quasi laboriosam similique aliquid aut?</p>
                <div class="buttons">
                    <button class="btn">Subscribe</button>
                    <button class="btn">Click Here</button>
                </div>
            </div>

            <div class="secondHalf">
                <img src="img/laptop2.jpg" alt="Error">
            </div>
        </div>
    </section>
    <section class="secRight" id="about">
        <div class="paras">
            <p class="sectionTag">The end of Poverty is Here</p>
            <p class="sectionsubTag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum quaerat quasi a
                placeat nihil necessitatibus, veniam nulla id minus.Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Voluptate atque beatae
                explicabo dignissimos ea dolorum impedit labore rem ducimus a cupiditate fuga, voluptates deleniti
                voluptas rerum! Distinctio tempora sunt deserunt.Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Esse ullam eligendi soluta fuga, quam quae distinctio omnis nostrum doloribus, unde sit et culpa
                optio nesciunt dignissimos perspiciatis dicta porro ipsa.</p>
        </div>
        <div class="thumbnail">
            <img src="img/laptop.jpg" alt="Error" class="imgFluid">
        </div>
    </section>
    <section class="secRight">
        <div class="paras">
            <p class="sectionTag">The end of Illiteracy is Here</p>
            <p class="sectionsubTag">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sint harum
                voluptatibus vero mollitia atque! Ea quibusdam quis ipsam iusto! ipsum, dolor sit amet consectetur
                adipisicing elit. Voluptate atque beatae
                explicabo dignissimos ea dolorum impedit labore rem ducimus a cupiditate fuga, voluptates deleniti
                voluptas rerum! Distinctio tempora sunt deserunt.Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Esse ullam eligendi soluta fuga, quam quae distinctio omnis nostrum doloribus, unde sit et culpa
                optio nesciunt dignissimos perspiciatis dicta porro ipsa.</p>
        </div>
        <div class="thumbnail">
            <img src="img/laptop2.jpg" alt="Error" class="imgFluid">
        </div>
    </section>
    <section class="secRight">
        <div class="paras">
            <p class="sectionTag">The end of Poorness is Here</p>
            <p class="sectionsubTag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia deleniti hic omnis
                qui consectetur! Earum maxime voluptates libero quos nobis. ipsum, dolor sit amet consectetur
                adipisicing elit. Voluptate atque beatae
                explicabo dignissimos ea dolorum impedit labore rem ducimus a cupiditate fuga, voluptates deleniti
                voluptas rerum! Distinctio tempora sunt deserunt.Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Esse ullam eligendi soluta fuga, quam quae distinctio omnis nostrum doloribus, unde sit et culpa
                optio nesciunt dignissimos perspiciatis dicta porro ipsa.</p>
        </div>
        <div class="thumbnail">
            <img src="img/laptop3.jpg" alt="Error" class="imgFluid">
        </div>
    </section>
    <hr>
    <section class="contact" id="contact">
        <h1>Register Yourself</h1>
        <form action="/index" method="post">
            <div class="form">
                <input type="text" name="name" id="name" placeholder="Enter your Name">
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <input type="number" name="Age" id="Age" placeholder="Enter your Age">
                <button class="btn btn-dark">Register</button>
            </div>
        </form>
    </section>

    <footer class="text-footer">
        Copyright &copy; 2025 - All Rights Reserved
    </footer>
    <script src="js/resp.js"></script>


</body>

</html>