<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Page</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: lightcyan;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid darkred;
            border-radius: 12px;
            padding: 10px;
            margin: 4vw 10vw;
        }

        nav ul {
            background-color: black;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav ul li {
            display: flex;
            padding: 5px 25px;
        }

        nav ul li a {
            text-decoration: none;
            list-style: none;
            color: white;
            font-size: 1.9rem;
        }

        nav ul li a:hover {
            color: lightcoral;
            font-weight: bolder;
        }

        h1 {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: underline;
            font-size: 2.1rem;
            color: brown;
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: black;
        }
    </style>
</head>

<body>
    <nav>
        <div class="containers">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/index">Contact</a></li>
                <li><a href="/weather">Join Us</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <h1>First Paragraph</h1>
        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sequi itaque voluptates enim odio aliquid
            alias
            magnam provident quam quas saepe neque velit vel, sunt harum placeat a expedita. Distinctio tempora dolor
            libero
            ullam eligendi veritatis expedita repudiandae, culpa quidem sit beatae aliquid exercitationem eius adipisci
            fugiat
            illo? Officiis quam excepturi a odio debitis ab, atque tempore error, iste, ea provident magnam ducimus.
            Quidem
            ea
            rem dolorum, voluptate est blanditiis voluptatem repellat officiis. Ipsum voluptas accusamus vitae iste
            autem,
            delectus dolores reiciendis ab quisquam odio labore veritatis, officia molestiae! Tempore sint, repellendus
            autem,
            neque totam ipsum iure magni aut incidunt expedita in earum labore doloremque quisquam tenetur qui animi
            vitae
            eum
            commodi facere molestiae fugiat? Libero repudiandae voluptate facere, ipsum animi quos perspiciatis iusto
            voluptatum
            expedita rem quo. Iure inventore beatae voluptatem ex quasi nostrum ipsam itaque repellat odit eveniet non
            quo,
            officia cumque? Quisquam consectetur cum debitis fuga cupiditate sit tempora maiores nemo porro vel natus
            itaque
            voluptas ullam, dignissimos incidunt, ut laborum. Blanditiis alias incidunt sit at dolor hic eaque aperiam
            quasi?
            Eligendi similique quisquam maxime fugit, labore, officia ex dolore suscipit optio, sint tenetur in
            officiis?
            Explicabo ex accusantium quam recusandae repellat modi iure eos, consectetur laboriosam sunt perferendis ea
            reiciendis, dolor voluptatem, blanditiis enim aspernatur. Adipisci corrupti labore alias placeat doloribus
            numquam
            fugit eaque impedit recusandae a, eligendi voluptas sapiente minus facilis pariatur! Eligendi consequatur
            nisi
            corrupti tenetur recusandae laboriosam nulla repudiandae inventore quam molestiae placeat animi aliquid
            accusantium
            alias, aliquam voluptatibus, autem ipsam rerum magnam delectus omnis voluptate odit qui! Nisi nostrum
            repudiandae
            ipsam quos non, ipsum accusamus aspernatur ea debitis. Dolorum, commodi mollitia. Culpa provident voluptates
            itaque.
            Ut ab temporibus nam necessitatibus saepe, enim, labore repudiandae, quo illum nobis aut consectetur quam.
            Reprehenderit suscipit blanditiis numquam velit ex ducimus? Architecto iusto quo sed, veritatis tempore
            tenetur
            quam
            praesentium ipsum quae expedita, similique totam esse harum perspiciatis pariatur placeat nam! Possimus,
            commodi!
            Enim, odit nihil commodi asperiores unde iste itaque quam reprehenderit ullam alias molestiae obcaecati
            laudantium
            sint veritatis, blanditiis corporis dolorum? Iure nobis aliquid, dolor reiciendis placeat esse dolore quod
            exercitationem, ratione assumenda debitis. Culpa quas voluptatum possimus voluptates atque magnam, nisi
            cupiditate
            quam quo similique aperiam distinctio hic rem eligendi ut, error, a adipisci! Quas, vel maxime a recusandae
            earum id
            laudantium deserunt placeat dolore tempore ut corrupti illo natus? Inventore rerum nostrum labore laudantium
            modi
            illum necessitatibus pariatur ipsum, laborum iusto adipisci totam eveniet nemo distinctio minima.
            Reprehenderit
            suscipit est ratione ea distinctio? Molestias adipisci reiciendis, dolores illo blanditiis consectetur
            recusandae
            vero fugiat quas numquam in debitis deserunt ipsa saepe tempore ullam hic quae? Exercitationem corporis eius
            voluptatum quo neque, possimus molestiae ullam officiis minus ab expedita quibusdam in minima ipsum
            laudantium
            velit
            magni doloremque esse deleniti quas recusandae at corrupti perferendis cumque! Quasi at error maxime omnis
            quos
            quas
            laboriosam non ex tempora facere, vero enim fugit, rerum velit repellendus! Necessitatibus reiciendis
            deserunt
            neque, quisquam ipsa quidem earum nihil explicabo? Iure qui corrupti vero mollitia voluptatibus tempore
            consequuntur
            velit quo id.
        </div>
    </section>
    <section>
        <h1>Second Paragraph</h1>
        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sequi itaque voluptates enim odio aliquid
            alias
            magnam provident quam quas saepe neque velit vel, sunt harum placeat a expedita. Distinctio tempora dolor
            libero
            ullam eligendi veritatis expedita repudiandae, culpa quidem sit beatae aliquid exercitationem eius adipisci
            fugiat
            illo? Officiis quam excepturi a odio debitis ab, atque tempore error, iste, ea provident magnam ducimus.
            Quidem
            ea
            rem dolorum, voluptate est blanditiis voluptatem repellat officiis. Ipsum voluptas accusamus vitae iste
            autem,
            delectus dolores reiciendis ab quisquam odio labore veritatis, officia molestiae! Tempore sint, repellendus
            autem,
            neque totam ipsum iure magni aut incidunt expedita in earum labore doloremque quisquam tenetur qui animi
            vitae
            eum
            commodi facere molestiae fugiat? Libero repudiandae voluptate facere, ipsum animi quos perspiciatis iusto
            voluptatum
            expedita rem quo. Iure inventore beatae voluptatem ex quasi nostrum ipsam itaque repellat odit eveniet non
            quo,
            officia cumque? Quisquam consectetur cum debitis fuga cupiditate sit tempora maiores nemo porro vel natus
            itaque
            voluptas ullam, dignissimos incidunt, ut laborum. Blanditiis alias incidunt sit at dolor hic eaque aperiam
            quasi?
            Eligendi similique quisquam maxime fugit, labore, officia ex dolore suscipit optio, sint tenetur in
            officiis?
            Explicabo ex accusantium quam recusandae repellat modi iure eos, consectetur laboriosam sunt perferendis ea
            reiciendis, dolor voluptatem, blanditiis enim aspernatur. Adipisci corrupti labore alias placeat doloribus
            numquam
            fugit eaque impedit recusandae a, eligendi voluptas sapiente minus facilis pariatur! Eligendi consequatur
            nisi
            corrupti tenetur recusandae laboriosam nulla repudiandae inventore quam molestiae placeat animi aliquid
            accusantium
            alias, aliquam voluptatibus, autem ipsam rerum magnam delectus omnis voluptate odit qui! Nisi nostrum
            repudiandae
            ipsam quos non, ipsum accusamus aspernatur ea debitis. Dolorum, commodi mollitia. Culpa provident voluptates
            itaque.
            Ut ab temporibus nam necessitatibus saepe, enim, labore repudiandae, quo illum nobis aut consectetur quam.
            Reprehenderit suscipit blanditiis numquam velit ex ducimus? Architecto iusto quo sed, veritatis tempore
            tenetur
            quam
            praesentium ipsum quae expedita, similique totam esse harum perspiciatis pariatur placeat nam! Possimus,
            commodi!
            Enim, odit nihil commodi asperiores unde iste itaque quam reprehenderit ullam alias molestiae obcaecati
            laudantium
            sint veritatis, blanditiis corporis dolorum? Iure nobis aliquid, dolor reiciendis placeat esse dolore quod
            exercitationem, ratione assumenda debitis. Culpa quas voluptatum possimus voluptates atque magnam, nisi
            cupiditate
            quam quo similique aperiam distinctio hic rem eligendi ut, error, a adipisci! Quas, vel maxime a recusandae
            earum id
            laudantium deserunt placeat dolore tempore ut corrupti illo natus? Inventore rerum nostrum labore laudantium
            modi
            illum necessitatibus pariatur ipsum, laborum iusto adipisci totam eveniet nemo distinctio minima.
            Reprehenderit
            suscipit est ratione ea distinctio? Molestias adipisci reiciendis, dolores illo blanditiis consectetur
            recusandae
            vero fugiat quas numquam in debitis deserunt ipsa saepe tempore ullam hic quae? Exercitationem corporis eius
            voluptatum quo neque, possimus molestiae ullam officiis minus ab expedita quibusdam in minima ipsum
            laudantium
            velit
            magni doloremque esse deleniti quas recusandae at corrupti perferendis cumque! Quasi at error maxime omnis
            quos
            quas
            laboriosam non ex tempora facere, vero enim fugit, rerum velit repellendus! Necessitatibus reiciendis
            deserunt
            neque, quisquam ipsa quidem earum nihil explicabo? Iure qui corrupti vero mollitia voluptatibus tempore
            consequuntur
            velit quo id.
        </div>
    </section>
    <section>
        <h1>Third Paragraph</h1>
        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sequi itaque voluptates enim odio aliquid
            alias
            magnam provident quam quas saepe neque velit vel, sunt harum placeat a expedita. Distinctio tempora dolor
            libero
            ullam eligendi veritatis expedita repudiandae, culpa quidem sit beatae aliquid exercitationem eius adipisci
            fugiat
            illo? Officiis quam excepturi a odio debitis ab, atque tempore error, iste, ea provident magnam ducimus.
            Quidem
            ea
            rem dolorum, voluptate est blanditiis voluptatem repellat officiis. Ipsum voluptas accusamus vitae iste
            autem,
            delectus dolores reiciendis ab quisquam odio labore veritatis, officia molestiae! Tempore sint, repellendus
            autem,
            neque totam ipsum iure magni aut incidunt expedita in earum labore doloremque quisquam tenetur qui animi
            vitae
            eum
            commodi facere molestiae fugiat? Libero repudiandae voluptate facere, ipsum animi quos perspiciatis iusto
            voluptatum
            expedita rem quo. Iure inventore beatae voluptatem ex quasi nostrum ipsam itaque repellat odit eveniet non
            quo,
            officia cumque? Quisquam consectetur cum debitis fuga cupiditate sit tempora maiores nemo porro vel natus
            itaque
            voluptas ullam, dignissimos incidunt, ut laborum. Blanditiis alias incidunt sit at dolor hic eaque aperiam
            quasi?
            Eligendi similique quisquam maxime fugit, labore, officia ex dolore suscipit optio, sint tenetur in
            officiis?
            Explicabo ex accusantium quam recusandae repellat modi iure eos, consectetur laboriosam sunt perferendis ea
            reiciendis, dolor voluptatem, blanditiis enim aspernatur. Adipisci corrupti labore alias placeat doloribus
            numquam
            fugit eaque impedit recusandae a, eligendi voluptas sapiente minus facilis pariatur! Eligendi consequatur
            nisi
            corrupti tenetur recusandae laboriosam nulla repudiandae inventore quam molestiae placeat animi aliquid
            accusantium
            alias, aliquam voluptatibus, autem ipsam rerum magnam delectus omnis voluptate odit qui! Nisi nostrum
            repudiandae
            ipsam quos non, ipsum accusamus aspernatur ea debitis. Dolorum, commodi mollitia. Culpa provident voluptates
            itaque.
            Ut ab temporibus nam necessitatibus saepe, enim, labore repudiandae, quo illum nobis aut consectetur quam.
            Reprehenderit suscipit blanditiis numquam velit ex ducimus? Architecto iusto quo sed, veritatis tempore
            tenetur
            quam
            praesentium ipsum quae expedita, similique totam esse harum perspiciatis pariatur placeat nam! Possimus,
            commodi!
            Enim, odit nihil commodi asperiores unde iste itaque quam reprehenderit ullam alias molestiae obcaecati
            laudantium
            sint veritatis, blanditiis corporis dolorum? Iure nobis aliquid, dolor reiciendis placeat esse dolore quod
            exercitationem, ratione assumenda debitis. Culpa quas voluptatum possimus voluptates atque magnam, nisi
            cupiditate
            quam quo similique aperiam distinctio hic rem eligendi ut, error, a adipisci! Quas, vel maxime a recusandae
            earum id
            laudantium deserunt placeat dolore tempore ut corrupti illo natus? Inventore rerum nostrum labore laudantium
            modi
            illum necessitatibus pariatur ipsum, laborum iusto adipisci totam eveniet nemo distinctio minima.
            Reprehenderit
            suscipit est ratione ea distinctio? Molestias adipisci reiciendis, dolores illo blanditiis consectetur
            recusandae
            vero fugiat quas numquam in debitis deserunt ipsa saepe tempore ullam hic quae? Exercitationem corporis eius
            voluptatum quo neque, possimus molestiae ullam officiis minus ab expedita quibusdam in minima ipsum
            laudantium
            velit
            magni doloremque esse deleniti quas recusandae at corrupti perferendis cumque! Quasi at error maxime omnis
            quos
            quas
            laboriosam non ex tempora facere, vero enim fugit, rerum velit repellendus! Necessitatibus reiciendis
            deserunt
            neque, quisquam ipsa quidem earum nihil explicabo? Iure qui corrupti vero mollitia voluptatibus tempore
            consequuntur
            velit quo id.
        </div>
    </section>
    <section>
        <h1>Fourth Paragraph</h1>
        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sequi itaque voluptates enim odio aliquid
            alias
            magnam provident quam quas saepe neque velit vel, sunt harum placeat a expedita. Distinctio tempora dolor
            libero
            ullam eligendi veritatis expedita repudiandae, culpa quidem sit beatae aliquid exercitationem eius adipisci
            fugiat
            illo? Officiis quam excepturi a odio debitis ab, atque tempore error, iste, ea provident magnam ducimus.
            Quidem
            ea
            rem dolorum, voluptate est blanditiis voluptatem repellat officiis. Ipsum voluptas accusamus vitae iste
            autem,
            delectus dolores reiciendis ab quisquam odio labore veritatis, officia molestiae! Tempore sint, repellendus
            autem,
            neque totam ipsum iure magni aut incidunt expedita in earum labore doloremque quisquam tenetur qui animi
            vitae
            eum
            commodi facere molestiae fugiat? Libero repudiandae voluptate facere, ipsum animi quos perspiciatis iusto
            voluptatum
            expedita rem quo. Iure inventore beatae voluptatem ex quasi nostrum ipsam itaque repellat odit eveniet non
            quo,
            officia cumque? Quisquam consectetur cum debitis fuga cupiditate sit tempora maiores nemo porro vel natus
            itaque
            voluptas ullam, dignissimos incidunt, ut laborum. Blanditiis alias incidunt sit at dolor hic eaque aperiam
            quasi?
            Eligendi similique quisquam maxime fugit, labore, officia ex dolore suscipit optio, sint tenetur in
            officiis?
            Explicabo ex accusantium quam recusandae repellat modi iure eos, consectetur laboriosam sunt perferendis ea
            reiciendis, dolor voluptatem, blanditiis enim aspernatur. Adipisci corrupti labore alias placeat doloribus
            numquam
            fugit eaque impedit recusandae a, eligendi voluptas sapiente minus facilis pariatur! Eligendi consequatur
            nisi
            corrupti tenetur recusandae laboriosam nulla repudiandae inventore quam molestiae placeat animi aliquid
            accusantium
            alias, aliquam voluptatibus, autem ipsam rerum magnam delectus omnis voluptate odit qui! Nisi nostrum
            repudiandae
            ipsam quos non, ipsum accusamus aspernatur ea debitis. Dolorum, commodi mollitia. Culpa provident voluptates
            itaque.
            Ut ab temporibus nam necessitatibus saepe, enim, labore repudiandae, quo illum nobis aut consectetur quam.
            Reprehenderit suscipit blanditiis numquam velit ex ducimus? Architecto iusto quo sed, veritatis tempore
            tenetur
            quam
            praesentium ipsum quae expedita, similique totam esse harum perspiciatis pariatur placeat nam! Possimus,
            commodi!
            Enim, odit nihil commodi asperiores unde iste itaque quam reprehenderit ullam alias molestiae obcaecati
            laudantium
            sint veritatis, blanditiis corporis dolorum? Iure nobis aliquid, dolor reiciendis placeat esse dolore quod
            exercitationem, ratione assumenda debitis. Culpa quas voluptatum possimus voluptates atque magnam, nisi
            cupiditate
            quam quo similique aperiam distinctio hic rem eligendi ut, error, a adipisci! Quas, vel maxime a recusandae
            earum id
            laudantium deserunt placeat dolore tempore ut corrupti illo natus? Inventore rerum nostrum labore laudantium
            modi
            illum necessitatibus pariatur ipsum, laborum iusto adipisci totam eveniet nemo distinctio minima.
            Reprehenderit
            suscipit est ratione ea distinctio? Molestias adipisci reiciendis, dolores illo blanditiis consectetur
            recusandae
            vero fugiat quas numquam in debitis deserunt ipsa saepe tempore ullam hic quae? Exercitationem corporis eius
            voluptatum quo neque, possimus molestiae ullam officiis minus ab expedita quibusdam in minima ipsum
            laudantium
            velit
            magni doloremque esse deleniti quas recusandae at corrupti perferendis cumque! Quasi at error maxime omnis
            quos
            quas
            laboriosam non ex tempora facere, vero enim fugit, rerum velit repellendus! Necessitatibus reiciendis
            deserunt
            neque, quisquam ipsa quidem earum nihil explicabo? Iure qui corrupti vero mollitia voluptatibus tempore
            consequuntur
            velit quo id.
        </div>
    </section>

    <footer class="footer">
        <div>All Rights Reserved | June 2022 | Made By Himanshu</div>
    </footer>
</body>

</html>